h1 {
  font-size: 1em;
  width: 35%;
  margin: 0 auto 2.5em;

  img {
    width: 100%;
  }
}

nav {
  font-size: 1.35em;
  margin-bottom: 2.5em;
  text-align: center;

  ul, li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0 0.25em;
  }
}
